#  OPERACIONES CON LISTAS

## Copiar una lista a otra

In [8]:
# FORMA INCORRECTA DE COPIAR UNA LISTA A OTRA 
lista_1 = [1]
lista_2 = lista_1

print(f'lista 1:{lista_1} \nlista 2:{lista_2}')

lista 1:[1]
lista 2:[1]

In [5]:
lista_2.append(10)

In [6]:
print(lista_2)

[1, 10]

In [7]:
print(lista_1)

[1, 10]

### SLICING O REBANADAS

In [11]:
list1= [3,4,5,6,7,8]
list1[:]

[3, 4, 5, 6, 7, 8]

In [14]:
# FORMA CORRECTA

list_2 = list1[:]
list_2.append(11)
list_2

[3, 4, 5, 6, 7, 8, 11]

In [15]:
list1

[3, 4, 5, 6, 7, 8]

In [18]:
x =[4,6,7,9,12]
y = []
y= x.copy()

print (y)

[4, 6, 7, 9, 12]

### SLICING O REBANADAS - INDICES NEGATIVOS

obserba el fragmento de codigo a continuacion:
`my_list[start:end]`


para confirmar :

1. **start** es el indice del primer elemento incluido de la rebanada
2. **end** es el indice del primer elemento no incluido en la rebanada

In [29]:
klist= [10,8,6,4,2]
klist[:3]

[10, 8, 6]

In [ ]:
klist2 = klist[0:3]

In [1]:
# DADA LA LISTA [10,8,6,4,2] ELIMIAR LOS NUMEROS EL 8 Y EL 6

list_3 = [10,8,6,4,2]

del list_3 [1:3]

list_3

[10, 4, 2]

### `pop` agrega un remueve el ultimo elemento de la lista si se llama sin argumentos

In [4]:
list_3

[10, 4, 2]

In [5]:
list_3.pop()
list_3

[10, 4]

In [ ]:
# reiniciar lista list_3 = []
list_3.append(7)
list_3.append(5)
list_3.append(9)
list_3.append(11)
list_3.append(5)

In [9]:
list_3

[10, 4, 7, 5, 9, 11, 7, 5, 9, 11, 5]

In [11]:
list_3.pop(3)
list_3

[10, 4, 7, 9, 7, 5, 9, 11, 5]

In [15]:
list_example = ["a",12, True]
print(list_example)
print(type(list_example))

['a', 12, True]
<class 'list'>

In [16]:
# lista de listas 
list_house = [['hallway', 100], ['kitchen', 85]]
print(list_house)
print(type(list_house))

[['hallway', 100], ['kitchen', 85]]
<class 'list'>

In [18]:
#tiene acceso a la lista en la posicion a y su elemento en la posicion 1
list_house[1][0]
list_house[0][0]

'hallway'

In [29]:
list_family = ['heydy',22,'ines',54,'henry',33,'oscar',58]
print(list_family)

['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 58]

In [22]:
# indexisacion
print(list_family[2])
print(list_family[-6])

ines
ines

In [24]:
#Siling [start:end]
# start es inclusive (incluye) end (excluye)

print(list_family[3:5]) # no toma el ultimo digito 
print(list_family[:5]) # Desde el inicio hasta la posicion 4 (end quita 1 a el argumento de la posicion indicada)
print(list_family[5:]) # desde la posicion 5 hasta el final

[54, 'henry']
['heydy', 22, 'ines', 54, 'henry']
[33, 'oscar', 58]

### ***Manipular listas***

In [25]:
print(list_family)

['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 58]

In [30]:
list_family[-1] = 37
print (list_family)
# print(f'la nueva lista es {list_family}')

list_family[:2] = ["mayumi",24]
print(list_family)

['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]
['mayumi', 24, 'ines', 54, 'henry', 33, 'oscar', 37]

In [ ]:
# agregar y remover elementos de la lista 


# Agregar

familia_extendida = list_family + ['Achuchena',12]
print(familia_extendida)

#pop quita el ultimo valor

# Eliminar 
del familia_extendida [3] #elimina los parametros 
#ejemplos
#familia_extendida.remove(54) # primero que encuentra  
#familia_extendida.pop(3) #para eliminar el ultimo 
print (familia_extendida)

['mayumi', 24, 'ines', 54, 'henry', 33, 'oscar', 37, 'Achuchena', 12]
['mayumi', 24, 'ines', 'henry', 33, 'oscar', 37, 'Achuchena', 12]

In [44]:
# eliminar 'poolhouse' y 24.5

areas = ['hallwat', 11.25, 'kitchen', 18.0,"chill zone", 20.0, 
         'bedroom', 10.75,'bathroom', 10.50, 'poolhouse', 24.5,
         'garage', 15.45
         ]

In [42]:
print(areas)

['hallwat', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [48]:
# eliminar
print (areas[10:12])
del areas [10:12]
print (areas)

['poolhouse', 24.5]
['hallwat', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

# FUNCIONES Y PAQUETES 
## ***Funcion***

es una pieza de codigo reutilizable, destinada a resolver una tarea en particular

In [49]:
list_fam =  [22,54,33,38,36]
print(list_fam)
print(f'el tamaño de la lista es {len(list_fam)}')
print(f'el valor maximo de la lista es {max(list_fam)}')

[22, 54, 33, 38, 36]
el tamaño de la lista es 5
el valor maximo de la lista es 54

In [ ]:
round(1.6689,2)

1.67

In [58]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [62]:
first = [51.25,18.0,20.0]
full_sorted = sorted(first) #ordena de forma acendente
full_sorted_asc =  sorted(first, reverse= False) # Asendente
full_sorted_desc =  sorted(first, reverse= True) # Decendente


print (full_sorted)
print (full_sorted_asc)
print (full_sorted_desc)

[18.0, 20.0, 51.25]
[18.0, 20.0, 51.25]
[51.25, 20.0, 18.0]

### ***Metodos***

en python todo es objeto, y cada objeto tiene metodos especificos asociados

    - Objetos con diferentes tipos pueden tener el mismo nombre

In [69]:
lis_fam = ['heydy',22,'ines',54, 'henry',33, 'oscar',54]
print(f'indice:{lis_fam.count(54)}')
print(f"indice: {lis_fam.index('henry')}") # obtiene el indice de la lista

 # obtiene cuantas veces apatrece algo

indice:2
indice: 4

In [70]:
del(lis_fam[lis_fam.index('henry')])
print(lis_fam)

['heydy', 22, 'ines', 54, 33, 'oscar', 54]

In [71]:
name = "nayumi"
print(name.capitalize())

Nayumi

In [72]:
lista_entornos = ['susel','brandon','alejandro', 'gabriel']
lista_entornos = print(lista_entornos[0].capitalize())
print(lista_entornos)

Susel
None

In [73]:
print(name.replace('y', '*'))

na*umi

In [74]:
name.upper()

'NAYUMI'

In [77]:
print (lis_fam)
lis_fam.reverse
print(lis_fam)

['heydy', 22, 'ines', 54, 33, 'oscar', 54]
['heydy', 22, 'ines', 54, 33, 'oscar', 54]