# Aggregathing DataFrames 

 En este notebook, se calcularan estadisticas de resumen en columnas de DataFrames y dominaras las estadisticas agrupadas (pivot table )

## Estadistocas de Resumen 

Media y Mediana 

Las estadisticas resumidas son exactamente lo que parecen: resumen muchos números en una sola estadistica. Por ejemplo, la media, la mediana, el minimo y la desviación tipica (Desviación estandar) son estadisticas de resumen. Calcular estadisticas de resumen te permite hacerte una mejor idea de tus datos aunque sean muchos
*Instrucciones* 

- Explorar el nuevo DataFrame imprimiendo las primeras filas del Data/frame walmar_sales
- Imprimir información sobre las columnas 
- Imprimir la media de la columna weekly_sales
- Imprimir la mediana de la columna weekly_sales

In [27]:
import pandas as pd

In [28]:
sales = pd.read_csv("./dataset/walmart_sales.csv")
sales.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [29]:
sales.shape

(6435, 8)

In [30]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [31]:
sales.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [32]:
# Media de la columna "Weekly_Sales"
round(sales["Weekly_Sales"].mean(), 2)

np.float64(1046964.88)

In [33]:
# Media de la columna "Weekly_Sales"
sales["Weekly_Sales"].median()

np.float64(960746.04)

## Resumir fechas

Las estadisticas sumarias tambien pueden calularse sobre columnas de fecha que tengan valores con el tipo de dato datetime64. Algunas estadisticas de resumen como la media no tienen mucho sentido en la sfehcas, pero otras son extremadamente utilies como, por ejemplo, el minumo y el maixmo, que te permiten ver como intervalo de timepo abarca tus datos.


- Imprimir el maximo de la columna date 
- Imprimir el minimo de la columna date

In [34]:
#sales["Date2"] = sales["Date"].astype("datetime64[ns]")

In [41]:
sales["Date"].max

<bound method Series.max of 0       05-02-2010
1       12-02-2010
2       19-02-2010
3       26-02-2010
4       05-03-2010
           ...
6430    28-09-2012
6431    05-10-2012
6432    12-10-2012
6433    19-10-2012
6434    26-10-2012
Name: Date, Length: 6435, dtype: object>

In [36]:
sales["Date"].min()

'01-04-2011'

## Funcion agg 

Aun que pandas y numpy tienen muchas funciones aveces puedes necesitar una funcion diferente para resumir los datos.

El metodo .agg() Permite aplicar tus propias funciones personalizadas a un Dataframe, asi como aplicar funciones a mas de una columna de una Dataframe a la vez, haciendo que tus agregaciones sean muy eficientes.


`df['column'].agg(function)`

En la funcion personalizada para este ejercicio "IQR" es la abreviatura del rango intercuartilico, que es el percentil 75 menos el percentil 25. Es una alternativa a la desviacion tipica (Estandar) que resulta util si tus datos continen valores atipicos.

**Instruccion**

1. Utiliza la funcion personalizada iqr definida por ti junto con el metodo agg() para imprimir la IQR de la columna temperatura_c de sales

2. Actualiza la seleccion de columnas para utiliar la funcion personalizada IQR con agg() para imprimir los IQR de las columnas temperature, fuel_prince, unemployment, en orden. 

3. Actualizar las llamadas a la funcion agg, para obtener el Iqr y la media en ese orden

In [37]:
import numpy as np

In [38]:
# Función para calcular el IQR
def iqr(colmna):
    return colmna.quantile(0.75) - colmna.quantile(0.25)

In [39]:
# Imprimir IQR de la columna temperature 
print("IQR de la columna temperature:", iqr(sales["Temperature"]))

IQR de la columna temperature: 27.479999999999997

In [42]:
#Actualizar la impresion del IQR de temperature, feul_price, unemployment
print(sales[['Temperature','Fuel_Price','Unemployment']].agg(iqr))

Temperature     27.480
Fuel_Price       0.802
Unemployment     1.731
dtype: float64

In [44]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr, np.median]))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

C:\Users\cuent\AppData\Local\Temp\ipykernel_140900\107357177.py:1: FutureWarning: The provided callable <function median at 0x00000141524E6EF0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr, np.median]))
C:\Users\cuent\AppData\Local\Temp\ipykernel_140900\107357177.py:1: FutureWarning: The provided callable <function median at 0x00000141524E6EF0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr, np.median]))
C:\Users\cuent\AppData\Local\Temp\ipykernel_140900\107357177.py:1: FutureWarning: The provided callable <function median at 0x00000141524E6EF0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr, np.median]))

In [46]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr, 'median']))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [52]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr, 'median', 'mean', 'max', 'min']))

        Temperature  Fuel_Price  Unemployment
iqr       27.480000    0.802000      1.731000
median    62.670000    3.445000      7.874000
mean      60.663782    3.358607      7.999151
max      100.140000    4.468000     14.313000
min       -2.060000    2.472000      3.879000

In [48]:
def convertirACentigrados (fahrenheit):
    return (fahrenheit - 32) / 1.8

In [ ]:
tem_min = sales["Temperature"].min()
tem_max = sales["Temperature"].max()

In [54]:
print(f'La tempertura {tem_min} en Centigrados es {convertirACentigrados(tem_min)}')
print(f'La tempertura {tem_max} en Centigrados es {convertirACentigrados(tem_max)}')

La tempertura -2.06 en Centigrados es -18.922222222222224
La tempertura 100.14 en Centigrados es 37.855555555555554

In [56]:
sales['Temperature_Celcious'] = sales[['Temperature']].agg(convertirACentigrados)

In [59]:
sales_sort = sales.sort_values(['Temperature','Temperature_Celcious'], ascending=[True, True])

In [60]:
sales_sort[['Temperature','Temperature_Celcious']]

      Temperature  Temperature_Celcious
910         -2.06            -18.922222
3626         5.54            -14.700000
2336         6.23            -14.316667
959          7.46            -13.633333
5628         9.51            -12.494444
...           ...                   ...
3885        99.22             37.344444
5315        99.22             37.344444
4657        99.66             37.588889
4707       100.07             37.816667
4599       100.14             37.855556

[6435 rows x 2 columns]

In [ ]:
# Funcion personalizada que calcula el IQR

def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Imprimir el IQR de la columna temperature
sales["Temperature"].agg(iqr)
print(sales["Temperature"].quantile(0.75))
print(sales["Temperature"].quantile(0.25))

print(sales["Temperature"].agg(iqr))

print(sales["Temperature"].agg(["mean", "median", "min", "max",]))

74.94
47.46
27.479999999999997
mean       60.663782
median     62.670000
min        -2.060000
max       100.140000
Name: Temperature, dtype: float64

## Estadisticas acumuladas