In [7]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Crear una lista

edad = [30,40,50]

In [ ]:
# convertirse a serie

serie = pd.Series(edad)

In [ ]:
# Mostrar resultado
serie

0    30
1    40
2    50
dtype: int64

In [ ]:
serie [1]

np.int64(40)

### Ejemplo 2

In [ ]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [ ]:
type(naranjas)

NameError: name 'naranjas' is not defined

In [ ]:
naranjas = pd.Series([1,4,9,2,6,10,200]), index = ['Marco', 'Ana', 'Juan', '']

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1741985997.py, line 1)